<!DOCTYPE html>
<html>

<head>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
  <link rel="icon" href="favicon.png" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="css/index.css">
  <title> Cybersage.eth | web 3 designer </title>
</head>

<!------------ Sidebar -------------->
<body>
<div id="app">
  <div id="column-1">
    <h1 class="page-title"><a href=".">Cybersage.eth</a> </h1>
      <input type="text" v-model='search' id="searchbar" name="search" value="">
  </div>

<!------------ Add new link -------------->
    <div id="submit-form" v-if='show'>
      <div id="input-container">
        <input class="half-input" type="text" v-model="newlinkname" placeholder="name">
        <input class="half-input" type="text" v-model="newlinkurl" placeholder="url">
        <input type="text" v-model="newlinkdescription" placeholder="description">
      </div>
      <div id="submit-div" >
        <button id='submit-button' v-on:click.prevent="addLink()">Submit</button>
      </div>
    </div>

<!-------------- Main Content: Bookmarks -------------->
<div id="column-2">
  <ul >
    <li class="bookmark-item" v-for="asset in this.nfts.assets">

      <a v-else v-bind:href=asset.hyperlink target=_blank rel="noopener noreferrer" class="link-title">
        {{asset.name}}</a>
        <img v-bind:src=asset.image_url>
      <p class="link-description"> {{asset.description}} </p> 

    </li>
  </ul>
</div>
</div>
<script src="js/index.js"></script>
</body>
</html>
